<html>

    <body bgcolor=#a3cfb4>
    
        <center>
    
            <h1>  SALARY PREDICTION :  </h1>
        
            {% if data == 1 %}
            <h2>Congratulation Mr. Your Salary is More than 50k</h2>
            
            {% elif data == 0 %}
            <h2>Hello Mr. Your Salary is less than 50k</h2>
            
            {% else %}
            <h2>sorry we cant predict</h2>
            
            {% endif %}
    
            <br><br>
        <a href='/'>go back to home page</a>
        
        </center>
    
    </body>
    
    </html>